*, *::after, *::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #193549;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.resume-container {
  background-color: #FFFFFF;
  max-width: 900px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .resume-container {
    display: flex;
    justify-content: space-between;
  }
}
.resume-container .left-sidebar {
  flex: 1;
  background-color: #F4F4F4;
  color: #444441;
  padding: 60px 45px;
}
@media (min-width: 768px) {
  .resume-container .left-sidebar {
    margin-right: 45px;
  }
}
.resume-container .left-sidebar img {
  max-width: 200px;
  margin: 0 auto 60px;
  display: block;
  border-radius: 50%;
}
.resume-container .left-sidebar .heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4em;
  padding: 10px 5px;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #444440;
  text-align: center;
  margin: 40px 0 20px;
}
.resume-container .left-sidebar .contact {
  font-style: normal;
  font-size: 1em;
  line-height: 1.7;
  margin: 0 0 15px;
}
.resume-container .left-sidebar .contact i {
  color: #444441;
}
.resume-container .left-sidebar .course {
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 5px;
}
/* .resume-container .left-sidebar .interest {
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 5px;
} */
.resume-container .left-sidebar .interest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: 900;
  margin-bottom: 5px;
}

.resume-container .left-sidebar .interest .timeline {
  font-weight: 700;
  font-size: 0.9em;
  color: #666;
  margin: 0;
}
.resume-container .left-sidebar .interest-item {
  margin-bottom: 25px;
}
.resume-container .left-sidebar .timeline {
  margin: 0 0 10px;
  font-weight: 700;
}
.resume-container .left-sidebar .education-detail {
  font-size: 0.9em;
  margin: 0 0 10px;
  line-height: 1.4;
}
.resume-container .left-sidebar .interest-detail {
  font-size: 0.9em;
  margin: 0 0 10px;
  line-height: 1.4;
}
.resume-container .left-sidebar ul.skills {
  padding: 0;
  list-style-position: inside;
}
.resume-container .left-sidebar ul.skills li {
  line-height: 1.6;
  margin-bottom: 10px;
}
.resume-container .main-body {
  padding: 60px 30px;
  flex: 2;
  color: #4C4D4F;
  background-color: #FFFFFF;
}
.resume-container .main-body h1 {
  font-size: 3.5em;
  font-weight: 400;
  margin: 0;
}
.resume-container .main-body .w900 {
  font-weight: 900;
}
.resume-container .main-body .designation {
  font-size: 1.5em;
  margin: 10px 0 30px;
  color: #444441;
}
.resume-container .main-body .secondary {
  font-size: 1.8em;
  margin: 40px 0 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #F4F4F4;
  color: #444441;
}
.resume-container .main-body .secondary i {
  color: #444441;
  margin-right: 10px;
}
.resume-container .main-body .job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 5px;
}
.resume-container .main-body .job-info p {
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
}
.resume-container .main-body .job-info time {
  font-weight: 700;
  color: #444441;
}
.resume-container .main-body h3 {
  font-size: 1.1em;
  margin: 0 0 15px;
  color: #666;
  font-weight: 700;
}
.resume-container .main-body .job-detail {
  line-height: 1.6;
  margin: 0 0 30px;
}